<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action='hello' method ='post'>
    <input type='text' name='name'>
    <select name='language'>
        <option value=''>Please Choose a Language</option>
        <option value='english'>English</option>
        <option value='spanish'>Spanish</option>
        <option value='french'>French</option>
        <input type='submit' value='Greet Me!'>

    </select>
    <p th:text=""></p>
</form>

</body>
</html>